/* Common background for all */
.auth-container {
  background: url("https://e0.pxfuel.com/wallpapers/645/334/desktop-wallpaper-minimalist-design-%E2%9D%A4-for-ultra-tv.jpg")
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 350px;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.auth-box button {
  background: #38bdf8;
  border: none;
  padding: 12px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.auth-box button:hover {
  background: #0ea5e9;
}

.link-btn {
  background: none;
  border: none;
  color: #38bdf8;
  text-decoration: underline;
  cursor: pointer;
}

/* Google button */
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #444;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin: 0 auto;
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}

.google-btn:hover {
  background: #f1f1f1;
}
